<template name="create">
	<h1>Create a game</h1>
	<br />
	Game: <input type="text" id="game-name" /><br />
	Team Size: 		
	<select id="num-players">
		<option value="2">2</option>
		<option value="4">4</option>
		<option value="6">6</option>
		<option value="8">8</option>
		<option value="10">10</option>
	</select>
	<br />
	Players: <input type="text" id="player" /> <input type="button" id="add-player"value="add" />

	<div class="players-list">
		{{#each player}}
			{{playerName}}
		{{/each}}
	</div>

	<div class="game-button create-game" id="teams">Create game</div>
</template>