<template name="teams">
	<h1>{{game_name}}</h1>
	<h1>{{team_size}}</h1>

	<h1>Here are your teams</h1>

	{{#each team}}
	<div class="team" data-teamid="{{teamName}}" data-currentstanding="{{currentStanding}}">
		<h3>Team {{teamName}}</h3>
		<ul class="team-members">
			{{#each teamMembers}}
			<li data-placed="{{standing}}" data-playerid="{{id}}" class="{{cssClass}}">
				{{playerName}}
				<span class="standing-text"> {{standingText}}</span> 
				<span class="drinks"> {{numDrinks}}
			</li>
			{{/each}}
		</ul>
		<input type="button" class="give-drinks" data-teamid="{{teamName}}" value="DRINK!" />
	</div>
	{{/each}}

	<button class="nav-btn" id="create">Back</button>
	<button class="nav-btn" id="results">Finished!</button>
</template>