<template name="teams">
	<h1>{{game_name}}</h1>
	<h1>{{team_size}}</h1>

	<h1>Here are your teams</h1>

	{{#each team}}
	<div class="team {{teamName}}">
		<h3>Team {{teamName}}</h3>
		<input type="hidden" class="current-standing" value="1"/>
		<ul class="team-members">
			{{#each teamMembers}}
			<li data-placed="0">{{playerName}}<span class="standing-text"></span> {{numDrinks}}</li>
			{{/each}}
		</ul>
		<input type="button" class="give-drinks" data-teamid="{{teamName}}" value="DRINK!" />
	</div>
	{{/each}}

	<div class="back-button" id="create">Back</div>
	<div class="game-button" id="gamedetail">Play Game</div>
</template>